<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Show Users</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="main.js"></script>
</head>
<body>

    <h1> User # {{ user.id }} </h1>

    <p> Full name: {{ user.fname }} </p><br>
    <p> Email: {{ user.email }} </p><br>

    <a href="/users/edit/{{user.id}}">Edit</a> | <a href='/users/destroy/{{user.id}}'>Delete</a><br>
    
    <a href="/">Go Back</a>

</body>
</html>